// Main

body{
	background-color: $background;
	font-family: $helvetica;
}

.primary-btn{
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn{
	@include button($secondary, $secondary-dark, #fff);
}

.border{
	border: 1px solid #ccc;
	// you can nest elements/selectors to target them more specifically
	p{
		color: red;
	}
}

ul{
	@extend .border;
}


